<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>编辑地址</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
<link rel="stylesheet" href="lib/weui.min.css">
<link rel="stylesheet" href="css/jquery-weui.css">
<link rel="stylesheet" href="css/style.css">
  <script src="js/jquery-2.1.4.js"></script>
  <script src="js/jquery.cookie.js"></script>
  <script src="js/Marcel.js"></script>

</head>
<body ontouchstart>
<div id="app">
<!--主体-->
<header class="wy-header">
  <a :href="href"><div class="wy-header-icon-back"><span></span></div></a>
  <div class="wy-header-title">编辑地址</div>
</header>
<div class="weui-content">
  <div class="weui-cells weui-cells_form wy-address-edit">
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label wy-lab" >收货人</label></div>
      <div class="weui-cell__bd"><input class="weui-input"  placeholder="" v-html="receiver" v-model="receiver"></div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label wy-lab">手机号</label></div>
      <div class="weui-cell__bd"><input class="weui-input" type="number" pattern="[0-9]*" placeholder="" v-model="phone"></div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd"><label for="name" class="weui-label wy-lab">所在地区</label></div>
      <div class="weui-cell__bd"><input class="weui-input" id="address" type="text" value="" readonly="" data-code="420106" data-codes="420000,420100,420106" v-model="addressHeader"></div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label wy-lab">详细地址</label></div>
      <div class="weui-cell__bd">
        <textarea class="weui-textarea" placeholder="" v-model="addressBody"></textarea>
      </div>
    </div>

  </div> 
  <div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary"  id="showTooltips" @click="addAddress">保存此地址</a>
    <a :href="href" id="delete"  class="weui-btn weui-btn_warn" @click="deleteAddress">删除此地址</a>
  </div>
</div>
</div>

<!--<script src="lib/jquery-2.1.4.js"></script> -->
<script src="lib/fastclick.js"></script> 
<script type="text/javascript" src="js/jquery.Spinner.js"></script>
<script src="node_modules/vue/dist/vue.js"></script>
<script>
  let app = new Vue({
    el:"#app",
    data:{
      addressId:"",
      cusId:"",
      receiver:"",
      addressHeader:"",
      addressBody:"",
      phone:"",
      address:"",
      href:"address_list.html?"
    },
    methods:{
      addAddress(){
        if(!app.testReceiver()){return};
        if(!app.testAddressHeader()){return};
        if(!app.testAddressBody()){return};
        if(!app.testPhone()){return};
        app.address = (app.addressHeader+app.addressBody).replace(/,/g, "")
        $.ajax({
          type: "POST",
          url: "http://127.0.0.1:8084/address/saveAddress",
          data: {
            "cusId":app.cusId,
            "receiver":app.receiver,
            "phone":app.phone,
            "address":app.address,
            "addressId":app.addressId
          },
          dataType: "JSON",
          success: function(result) {
          }
        });
        window.location.href=app.href;
      },
      getAddressInfo(){
        if(!app.addressId){
          return;
        }
        $.ajax({
          type: "GET",
          contentType: "application/json;charset=UTF-8",
          url : "http://127.0.0.1:8084/address/getAddressInfo",
          data : {
            "addressId":app.addressId
          },
          dataType:"json",
          success: function(data){
            app.phone = data.phone
            app.receiver = data.receiver
            var reg = /.+?(省|市|自治区|自治州|县|区)/g;
            app.addressHeader = data.address.match(reg)
            app.addressBody = data.address.substring(app.addressHeader.toString().replace(/,/g, "").length)
          },
          error: function(e) {
           console.log(e.status);
           console.log(e.responseText);
          }
        })
      },
      deleteAddress(){
        if(!app.addressId){
          return;
        }
        $.ajax({
          type: "POST",
          url: "http://127.0.0.1:8084/address/deleteAddress",
          data: {
            "addressId":app.addressId
          },
          dataType: "JSON",
          success: function(result) {
          }
        });
      },
      testReceiver(){
        if (!this.receiver){
          return false;
        }
        return true;
      },
      testAddressHeader(){
        if (!this.addressHeader){
          return false;
        }
        return true;
      },
      testAddressBody(){
        if (!this.addressBody){
          return false;
        }
        return true;
      },
      testPhone(){
        if (!this.phone){
          return false;
        }
        return true;
      },
    },
    created:function () {
      $(function () {
        app.cusId = $.cookie("cusId");
        app.addressId=getUrlParam("addressId");
        if (!app.addressId){
          $("#delete").attr("style","display: none")
        }
        //当从购物车页面进入时,保存路径地址和购物车项
        let path=getUrlParam("path");
        let array=getUrlParam("array");
        if (path){
          app.href+="path="+path+"&";
          app.href+="array="+array+"&";
          app.href+="addressId="+app.addressId+"&"
        }
        app.getAddressInfo()
      })
    },
    watch:{
      'receiver':{
        handler(){
          app.testReceiver();
        }
      },
      'addressHeader':{
        handler(){
          app.testAddressHeader();
        }
      },
      'addressBody':{
        handler(){
          app.testAddressBody();
        }
      },
      'phone':{
        handler(){
          app.testAddressBody();
        }
      },
    },
  })
</script>
<script>
  $(function() {
    FastClick.attach(document.body);


  });
</script>

<script src="js/jquery-weui.js"></script>
<script src="js/city-picker.js"></script>
<script>
      $("#address").cityPicker({
        title: "选择出发地",
        onChange: function (picker, values, displayValues) {
          console.log(values, displayValues);
          app.addressHeader =displayValues
        }
      });
    </script>
</body>
</html>
