<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>手机注册</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
<link rel="stylesheet" href="lib/weui.min.css">
<link rel="stylesheet" href="css/jquery-weui.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body ontouchstart>
<!--主体-->
<header class="wy-header">
  <div class="wy-header-icon-back"><span><a href="login.html" class="weui-btn wy-header-icon-back"></a></span></div>
  <div class="wy-header-title">手机注册</div>
</header>
<div class="weui-content" id="RegistryApp">
  <div class="weui-cells weui-cells_form wy-address-edit">
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label wy-lab">用户名</label></div>
      <div class="weui-cell__bd"><input class="weui-input" type="text"v-model="username" placeholder="请输入用户名"></div>
      <span style="display: none" id="span2"></span>
    </div>
    <div class="weui-cell weui-cell_vcode">
      <div class="weui-cell__hd"><label class="weui-label wy-lab">手机号</label></div>
      <div class="weui-cell__bd"><input class="weui-input" type="tel" v-model="mobilePhone" placeholder="请输入手机号"></div>
      <span style="display: none;" id="Phonespan"></span>
      <div class="weui-cell__ft"><input class="weui-btn weui-btn_default" disabled="true" id="idCode"type="button"value="获取验证码" onclick="getCode(),time()"></div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label wy-lab">验证码</label></div>
      <div class="weui-cell__bd"><input class="weui-input" type="number"v-model="code" placeholder="请输入验证码"></div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label wy-lab">设置密码</label></div>
      <div class="weui-cell__bd"><input class="weui-input" type="password" v-model="password" pattern="[a-zA-Z0-9]*" placeholder="请输入新密码"></div>
      <span style="display: none;" id="span3"></span>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label wy-lab">确认密码</label></div>
      <div class="weui-cell__bd"><input class="weui-input" type="password"v-model="rePassword" pattern="[a-zA-Z0-9]*" placeholder="请再次输入新密码"></div>
      <span style="display: none" id="span"></span>
    </div>
  </div>
  <label for="weuiAgree" class="weui-agree">
    <input id="weuiAgree" type="checkbox" class="weui-agree__checkbox" checked="checked">
    <span class="weui-agree__text">阅读并同意<a href="javascript:void(0);">《注册协议》</a></span>
  </label>
  <div class="weui-btn-area"><a href="javascript:;" class="weui-btn weui-btn_warn"  onclick="registry()">注册</a></div>
  <div class="weui-cells__tips t-c font-12">登陆账号为您输入的手机号码</div>
  <div class="weui-cells__tips t-c pd-10"><a href="xieyi.html" class="weui-cell_link font-12">查看注册协议</a></div>
  
</div>

<script src="lib/jquery-2.1.4.js"></script>
<script src="js/jquery.cookie.js"></script>
<script src="lib/fastclick.js"></script> 
<script type="text/javascript" src="js/jquery.Spinner.js"></script>
<script src="./js/vue/vue.js"></script>
<script>

</script>
<script>

  $(function() {
    FastClick.attach(document.body);
  });
  //验证码定时60s
  var wait = 60;
  function time(){
    if(wait==0) {
      $("#idCode").removeAttr("disabled");
      $("#idCode").val("获取验证码");
      wait=60;
    }else{
      $("#idCode").attr("disabled","true");
      $("#idCode").val(wait+"秒后重试");
      wait=wait-1;
      setTimeout(function() {     //倒计时方法
        time();
      },1000);    //间隔为1s
    }
  }

  var id=0;
  //获取验证码
  function getCode(){
    id=parseInt((1+Math.random()*9)*1000000);
    $.ajax({
      type: "get",
      url: "http://127.0.0.1:8084/customer/sendSms",
      contentType: "application/json;charset=utf-8",
      data : {"mobilePhone":vm.mobilePhone, "id":id}
      ,
      success: function (data) {
      },
      error: function (e) {
        console.log(e.status);
        console.log(e.msg);
      }
    })
  }
  //后台注册
  function  registry(){
    if(!vm.testUsername()){return};
    if(!vm.testMobilePhone()){return};
    if(!vm.testRePassword()){return};
    if(!$("#weuiAgree").prop("checked")){return};
    if (!vm.testPassword()){return};
    var formData = new FormData();
    formData.append("username",vm.username);
    formData.append("password",vm.password);
    formData.append("mobilePhone",vm.mobilePhone);
    formData.append("code",vm.code);
    formData.append("id",id);
      $.ajax({
        type: "post",
        url: "http://127.0.0.1:8084/customer/registry",
        data : formData,
        async:false,
        contentType: false,
        processData: false,
        dataType:'text',
        success: function (data) {
         alert("注册成功");
         window.location.href="login.html"
        },
        error: function (e) {
         alert(JSON.parse(e.responseText).message);
          console.log(e.status);
          console.log(e.responseText);
        }
      })

  }

  var vm = new Vue({
    el: "#RegistryApp",
    data: {
        username:"",
        mobilePhone:"",
        code:"",
        password:"",
        rePassword:"",
        flag:"false",
    },
    methods:{
      testUsername(){
        var regUsername =/^[\u4e00-\u9fa5A-Za-z0-9-_]{2,8}$/;
        if(!regUsername.test(this.username)){
          $("#span2").html("用户名为2-8位,可含中文,英文字母,数字")
          $("#span2").attr("style","display: block;color: #ce3c39;")
          return false;
        }else{
          $.ajax({
            type: "get",
            url: "http://127.0.0.1:8084/customer/isReUsername",
            contentType: "application/json;charset=utf-8",
            data : {"username": this.username},
            success: function (data) {
              $("#span2").html("恭喜您,用户名可用")
              $("#span2").attr("style","display: block;color: #0BB20C;")

            },
            error: function (e) {
              console.log(e.status);
              console.log(e.responseText);
              $("#span2").html("用户名重复了,请重新更换")
              $("#span2").attr("style","display: block;color: #ce3c39;")
              return false;
            }
          })
          return true;
        }
      },
      testMobilePhone(){
        var regMobile=/^1\d{10}$/;
          if(!regMobile.test(vm.mobilePhone)){
            $("#Phonespan").html("请输入正确的手机号格式")
            $("#Phonespan").attr("style","display: block;color: #ce3c39;")
            $("#idCode").attr("disabled","true")
            return false;
          }else{
            $.ajax({
              type: "get",
              url: "http://127.0.0.1:8084/customer/isReMobilePhone",
              contentType: "application/json;charset=utf-8",
              data : {"mobilePhone": this.mobilePhone},
              success: function (data) {
                $("#Phonespan").html("恭喜您,手机号可用")
                $("#Phonespan").attr("style","display: block;color: #0BB20C;")
                $("#idCode").removeAttr("disabled")
              },
              error: function (e) {
                console.log(e.status);
                console.log(e.responseText);
                $("#Phonespan").html("手机号已经注册过")
                $("#Phonespan").attr("style","display: block;color: #ce3c39;")
                $("#idCode").attr("disabled","true")
                return false;
              }
            })
            return true;
          }

      },
      testRePassword(){
        if(this.password!=this.rePassword){
          $("#span").html("两次密码必须一致")
          $("#span").attr("style","display: block;color: #ce3c39;")
          return false;
        }else{
          $("#span").attr("style","display: none")
          return true;
        }
      },
      testPassword(){
        var regPassword=/^[a-zA-Z0-9]{4,10}$/;
        if(regPassword.test(this.password)){
          $("#span3").attr("style","display: none")
          return true;
        }else{
          $("#span3").html("密码只能为数字或英文,且只可在4-10位")
          $("#span3").attr("style","display: block;color: #ce3c39;")
          return false;
        }
      }
    },
    watch:{
      'mobilePhone':{
        deep:true,
        handler(){
          vm.testMobilePhone();
        }
      },
      'rePassword':{
        deep:true,
        handler(){
          vm.testRePassword();
        }
      },
      'password':{
        deep:true,
        handler(){
          vm.testPassword();
        }
      },
      'username':{
        deep:true,
        handler(){
          vm.testUsername();
        }
      }
    }
  });
</script>

<script src="js/jquery-weui.js"></script>
</body>
</html>
