<script src="./js/vue/vue.js"></script>
<div id="searchBar">
    <div class="weui-search-bar" >
    <form class="weui-search-bar__form" action="pro_list.html" onsubmit=" return searchVm.submit()">
        <div class="weui-search-bar__box">
            <i class="weui-icon-search"></i>
            <input type="search" class="weui-search-bar__input" autocomplete="off" onblur="searchVm. clearOntime()" v-model="key" id="searchInput" placeholder="搜索" required/>
            <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
        </div>
        <label class="weui-search-bar__label" id="searchText">
            <i class="weui-icon-search"></i>
            <span>搜索</span>
        </label>
    </form>
    <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
    </div>
    <div class="weui-cells searchbar-result" id="searchResult">
        <div class="weui-cell weui-cell_active weui-cell_access" v-for="(result,index) in results" :key="index">
             <div class="weui-cell__bd weui-cell_primary">
                 <a :href ="'pro_info.html?goodsId='+result.goodsId">{{result.goodsName}}</a>
            </div>
         </div>
    </div>
</div>


<script>
    var searchVm = new Vue({
        el:"#searchBar",
        data:{
            key:"",
            results:[],
        },
        methods:{
            clearOntime(){
                setTimeout(function() {searchVm.clear()     //倒计时方法
                },500);    //间隔为0.3s,防止onblur()时页面跳转失败

            },
            clear(){ searchVm.results=[];},
            submit(){
                $.cookie("key",searchVm.key);
            },
            search(){
                if(searchVm.key){
                $.ajax({
                        //请求方式
                        type : "GET",
                        //请求的媒体类型
                        contentType: "application/json;charset=UTF-8",
                        //请求地址
                        url : "http://www.housekeep.com:8084/goods/search",
                        //数据，json字符串
                        data : {
                            "key":searchVm.key,
                        },
                        //请求成功
                        success : function(result)
                        {
                            const json = JSON.stringify(result)
                            searchVm.results=JSON.parse(json);

                        },
                        //请求失败，包含具体的错误信息
                        error : function(e){
                            console.log(e.status);
                            console.log(e.responseText);
                        }
                  })

        }else{
                    searchVm.results=[];
                }
            }
    },
    watch:{
            'key':{
                handler(){
                    //searchVm.search();
                }

            }
    }
    });

</script>