<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>购物车</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
<link rel="stylesheet" href="lib/weui.min.css">
<link rel="stylesheet" href="css/jquery-weui.css">
<link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/pages-cart.css">

</head>
<body ontouchstart>
<!--主体-->
<header class="wy-header">
  <div class="wy-header-icon-back"><span></span></div>
  <div class="wy-header-title">购物车</div>
</header>
<div class="weui-content" id="cartApp">
<form>
  <div class="weui-panel weui-panel_access" v-for="(item,index) in items" :key="index">
    <div class="weui-panel__bd" >
      <div class="weui-media-box_appmsg pd-10">
        <div class="weui-media-box__hd check-w weui-cells_checkbox">
          <label class="weui-check__label" :for="item.goodsId">
            <div class="weui-cell__hd cat-check"><input type="checkbox" v-model="checked" :id="item.goodsId" :value="item.goodsId" class="weui-check" name="cartpro"><i class="weui-icon-checked"></i></div>
          </label>
        </div>
        <div class="weui-media-box__hd"><a :href="'pro_info.html?goodsId='+item.goodsId"><img class="weui-media-box__thumb":src="item.goodsImageAddr" alt=""></a></div>
        <div class="weui-media-box__bd">
          <h1 class="weui-media-box__desc"><a :href="'pro_info.html?goodsId='+item.goodsId" class="ord-pro-link">{{item.goodsName}}</a></h1><span><div @click="dele(item.goodsId)"   class="wy-dele"></div></span>
          <p class="weui-media-box__desc">标签:<span>{{formatJson(item.spec)}}</span><span></span></p>
          <div class="clear mg-t-10"></div>
        </div>
      </div>
      <div class="wy-pro-pri fl">¥<em class="num font-15">{{formatPrice(item.goodsPrice)}}</em></div>
      <div class="pro-amount fr">   <a href="javascript:void(0)" @click="mins(item.goodsId,item.number)" class="increment mins">-</a>
        <input autocomplete="off"  type="text" :value="item.number" minnum="1" class="itxt" />
        <a href="javascript:void(0)" @click="plus(item.goodsId,item.number)"    class="increment plus">+</a></div>

    </div>

  </div>

  <!--底部导航-->
  <div class="foot-black"></div>
  <div class="weui-tabbar wy-foot-menu">
    <div class="npd cart-foot-check-item weui-cells_checkbox allselect">
      <label class="weui-cell allsec-well weui-check__label" for="all">
        <div class="weui-cell__hd">
          <input type="checkbox" v-model="checkedAll" @click="selectAll()"class="weui-check" name="all-sec" id="all">
          <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
          <p class="font-14">全选</p>
        </div>
      </label>
    </div>
    <div class="weui-tabbar__item  npd">
      <p class="cart-total-txt" id="total" ><i>￥</i><em class="num font-16" id="zong1"></em></p>
    </div>
    <a href="javascript:submit()" class="red-color npd w-90 t-c">
      <p class="promotion-foot-menu-label">去结算</p>
    </a>
  </div>
</div>


<script src="lib/jquery-2.1.4.js"></script> 
<script src="lib/fastclick.js"></script>
<script src="js/jquery.cookie.js"></script>
<script src="./js/vue/vue.js"></script>
<script src="js/Marcel.js"></script>
<script type="text/javascript" src="js/jquery.Spinner.js"></script>
<script>
  $(function() {
    FastClick.attach(document.body);
    load();
  });
</script>
<script>

  var cusId = $.cookie("cusId");
function  load() {
  let total;
  if (!cusId) {
    alert("请您先登录")
    setTimeout("window.location.href='login.html'", 1000)
  }
     query();

  }

function submit() {
if(vm.cart.length>0){
  window.location.href="order_info.html?array="+vm.checked.toString()
}else{
  alert("请选择商品","center")
}

}
function formatJson(val) {
  val = JSON.parse(val)
  return  val[4]+" "+val[12]+" "+val[13] ;
}
  function change(val) {
   console.log(val)
  }

function plus(val1,val2) {
  if(val2>=99){
    return
  }
update(cusId,val1,val2+1);
  query()
}
function mins(val1,val2) {
  if(val2<=1){
    return
  }
  update(cusId,val1,val2-1);
  query()
}
function update2() {
for (let j=0;j<vm.cart.length;j++){
  for (let k=0;k<vm.items.length;k++){
    if(vm.cart[j].goodsId==vm.items[k].goodsId){
      vm.cart[j].number=vm.items[k].number
    }
  }
}
}
function query(){
  $.ajax({
//请求方式
    type: "GET",
//请求的媒体类型
    contentType: "application/json;charset=UTF-8",
//请求地址
    url: "http://127.0.0.1:8084/goods/queryCartById",
//数据，json字符串
    data: {
      "cusId": cusId},
//请求成功
    success: function (result) {
      vm.items = result.list;
      console.log(vm.cart)

    },
//请求失败，包含具体的错误信息
    error: function (e) {
      console.log(e.status);
      console.log(e.responseText);
// window.location.href="error.html";
    }
  })
  }

function update(val1,val2,val3) {
  let json={
    "cusId":val1,
    "goodsId":val2,
    "number":val3,

  }


  $.ajax({
    type: "post",
    url: "http://127.0.0.1:8084/goods/addCart",
    contentType: "application/json;charset=utf-8",
    data : JSON.stringify(json),
    success: function (data) {

    },
    error: function (e) {
      console.log(e.status);
      console.log(e.responseText);
    }
  })
}
  function dele(val){
    $.confirm("您确定要把此商品从购物车删除吗?", "确认删除?", function() {
      let json={"cusId":cusId,"goodsId":val}
      deleCart(val);
      $.ajax({
        type: "post",
        url: "http://127.0.0.1:8084/goods/deleteCart",
        contentType: "application/json;charset=utf-8",
        data : JSON.stringify(json),
        success: function (data) {
          $.toast("商品已经删除!");
          query();
          total();
        },
        error: function (e) {
          console.log(e.status);
          console.log(e.responseText);
        }
      })

    }, function() {
      //取消操作
    });

  }
  var set = new Set();

  function addCart() {

    vm.checked.forEach((checked)=> {
      if($("#"+checked).prop("checked")) {
        if(!set.has(checked)){
          set.add(checked)
          vm.items.forEach((item) => {
            if (item.goodsId == vm.checked[vm.checked.length-1]) {
              vm.cart.push(item);
            }

          })
        }
      }
    })

    for(let i=0;i<vm.cart.length;i++){
      if(vm.checked.indexOf(vm.cart[i].goodsId)==-1){
        set.delete(vm.cart[i].goodsId)
        vm.cart.splice(i,1);
      }
    }
  }
function total() {
    vm.total=0;
    vm.cart.forEach((cart)=>{
      vm.total+=cart.goodsPrice*cart.number;
    })
  $("#total").text("合计："+formatPrice(vm.total));
}

function deleCart(val) {
for (let j=0;j<vm.cart.length;j++){
 if(vm.cart[j].goodsId == val){
    vm.cart.splice(j,1);
  }
}
}
  function addAll() {
    if (vm.checkedAll) {
      for (let i=0;i<vm.checked.length;i++){
        if(!set.has(vm.checked[i])){
          set.add(vm.checked[i])
          vm.items.forEach((item) => {
              if (item.goodsId == vm.checked[i]) {
                vm.cart.push(item);
              }
          })
        }
      }
    }
    }
  function clearAll(){
    set.clear();
    vm.cart=[]

  }





var vm = new Vue({
  el:"#cartApp",
  data:{
    items:[],
    total:"",
    checked:[],
    checkedAll:false,
    cart:[],
  },

  methods: {
    formatPrice: formatPrice,
    formatJson: formatJson,
    dele: dele,
    plus: plus,
    mins: mins,
    change: change,
    selectAll: function () {
      if (this.checkedAll) {
        // 全不选
        this.checked = [];
        clearAll();
      } else {
        // 全选
        this.checked = [];
        vm.items.forEach((item) => {
          this.checked.push(item.goodsId);
        })
      }

    }},
    watch:
            {
              checked: function () {
                let self = this;
                if (this.checked.length === this.items.length) {
                  self.checkedAll = true;
                  addAll()
                } else {
                  self.checkedAll = false;
                  addCart()
                }
               total();
                console.log(vm.checked)
                console.log(vm.cart)
              },
              items: function () {
                update2();
                total();
              }

            }



});
</script>
<script src="js/jquery-weui.js"></script>
</body>
</html>
